<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.clawlessexplorer">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@android:drawable/ic_menu_gallery"
        android:label="@string/app_name"
        android:roundIcon="@android:drawable/ic_menu_gallery"
        android:supportsRtl="true"
        android:theme="@style/Theme.ClawlessExplorer">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".RecentsActivity"
            android:exported="false"
            android:label="Recent Files"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".BookmarksActivity"
            android:exported="false"
            android:label="Bookmarks"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".HtmlViewerActivity"
            android:exported="false"
            android:label="HTML Viewer"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".TerminalActivity"
            android:exported="false"
            android:label="Terminal"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".CodeViewerActivity"
            android:exported="false"
            android:label="Code Viewer"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".ImageViewerActivity"
            android:exported="false"
            android:label="Image Viewer"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".MediaViewerActivity"
            android:exported="false"
            android:label="Media Player"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".ApkViewerActivity"
            android:exported="false"
            android:label="APK Info"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".UtilsHubActivity"
            android:exported="false"
            android:label="Tools"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".EncodeDecodeActivity"
            android:exported="false"
            android:label="Encode / Decode"
            android:parentActivityName=".UtilsHubActivity" />

        <activity
            android:name=".HashActivity"
            android:exported="false"
            android:label="Hash Generator"
            android:parentActivityName=".UtilsHubActivity" />

        <activity
            android:name=".JsonFormatterActivity"
            android:exported="false"
            android:label="JSON Formatter"
            android:parentActivityName=".UtilsHubActivity" />

        <activity
            android:name=".ZipToolsActivity"
            android:exported="false"
            android:label="Zip Tools"
            android:parentActivityName=".UtilsHubActivity" />

        <activity
            android:name=".BatchRenameActivity"
            android:exported="false"
            android:label="Batch Rename"
            android:parentActivityName=".UtilsHubActivity" />

        <activity
            android:name=".PdfViewerActivity"
            android:exported="false"
            android:label="PDF Viewer"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".StorageAnalyzerActivity"
            android:exported="false"
            android:label="Storage Analyzer"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".CategoryFileListActivity"
            android:exported="false"
            android:label="Files"
            android:parentActivityName=".StorageAnalyzerActivity" />

        <activity android:name=".TextEditorActivity" android:exported="false" android:theme="@style/Theme.ClawlessExplorer" />
        <activity android:name=".GalleryActivity" android:exported="false" android:theme="@style/Theme.ClawlessExplorer" />
        <activity android:name=".AppManagerActivity" android:exported="false" android:theme="@style/Theme.ClawlessExplorer" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>
